# Backend API URL
NEXT_PUBLIC_API_URL=https://api.astraietm.in

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dykinibqt
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=astra_gallery

# Google OAuth Client ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id-here
